# Build artifacts
build/
vcpkg_installed/
compile_commands.json

# Yereldeki submodule'ü build context'e gönderme, Docker içinde klonlayacağız.
vendor/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
models/