# Build artifacts
build/
vcpkg_installed/
compile_commands.json

# YORUM SATIRI YAPILDI VEYA SİLİNDİ: Submodule'ün kopyalanmasına izin ver.
# vendor/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
models/