# Build artifacts
build/
vcpkg_installed/
compile_commands.json

# Dependencies
vendor/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Executables
llm_service
models/

# YENİ: Otomatik oluşturulan proto dosyalarını GİT'E EKLEYİN, bu yüzden .gitignore'dan kaldırın.
# src/*.pb.cc
# src/*.grpc.pb.cc