# .gitignore

# Build artifacts
build/
vcpkg_installed/
compile_commands.json

# Dependencies
# vendor/ satırı silindi

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Executables
llm_service
models/

# src/*.pb.cc
# src/*.grpc.pb.cc