# docker-compose.gpu.yml
x-gpu-resources: &gpu-resources
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            count: 1
            capabilities: [gpu]

services:
  llm-llama-service:
    image: ghcr.io/sentiric/sentiric-llm-llama-service:latest-gpu
    environment:
      # DÜZELTME: Varsayılan değeri 28'den 100'e çekiyoruz veya doğrudan .env'den alıyoruz.
      # Eğer .env'de tanımlı değilse en azından tamamını yüklemeye çalışsın.
      - LLM_LLAMA_SERVICE_GPU_LAYERS=${LLM_LLAMA_SERVICE_GPU_LAYERS:-100}
      - NVIDIA_VISIBLE_DEVICES=all
    <<: *gpu-resources