# docker-compose.run.gpu.yml
networks:
  sentiric-net:
    name: "${NETWORK_NAME:-sentiric-net}"
    external: true

services:
  llm-cli:
    image: sentiric/llm-llama-service:local-gpu
    networks:
      - sentiric-net
    volumes:
      - ../sentiric-certificates:/sentiric-certificates:ro
    environment:
      - GRPC_TLS_CA_PATH=/sentiric-certificates/certs/ca.crt
      - LLM_LLAMA_SERVICE_CERT_PATH=/sentiric-certificates/certs/llm-llama-service-chain.crt
      - LLM_LLAMA_SERVICE_KEY_PATH=/sentiric-certificates/certs/llm-llama-service.key
      # YENİ EKLENDİ: Teknik olarak gerekli değil ama iyi bir pratik.
      - NVIDIA_VISIBLE_DEVICES=all
       # - GRPC_VERBOSITY=DEBUG
       # - GRPC_TRACE=all     
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]