# docker-compose.override.yml
services:
  llm-llama-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: sentiric/llm-llama-service:local-cpu 
    networks:
      - sentiric-net

  llm-cli:
    build:
      context: .
      dockerfile: Dockerfile
    image: sentiric/llm-llama-service:local-cpu
    networks:
      - sentiric-net
    depends_on:
      - llm-llama-service
    volumes:
      - ../sentiric-certificates:/sentiric-certificates:ro
    environment:
      - GRPC_TLS_CA_PATH=/sentiric-certificates/certs/ca.crt
      - LLM_LLAMA_SERVICE_CERT_PATH=/sentiric-certificates/certs/llm-llama-service-chain.crt
      - LLM_LLAMA_SERVICE_KEY_PATH=/sentiric-certificates/certs/llm-llama-service.key